@charset "UTF-8";




/* ボタン */
a.btn {
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
}
a.btn:hover {
	background: #EC407A;
	color: #fff;
}


/* 大枠 */
.waku {
  background: #ffffff;
  width: 530px;
  border: 1px solid #AAAAAA;
  box-shadow: 0px 0px 10px;
  max-width: 100%;
  heigh: auto;
}

/* ページタイトル */
.pt{
	color: pink;
	font-size: 8ex;
	font-family: "YuGothic M";
  	src: local("Yu Gothic Medium"),
    	 local("Yu Gothic");
 	font-weight: 500;
}



/* menu タイトル */
.nname {
	line-height: 2.5em;
	font-weight: 600;
	font-size: 25px;
	color: black;
	background-color: #fcfcfa;
	font-family: 'Trebuchet MS',sans-serif;
	text-align: left;
}

/* 文字 */
.p {
	font-weight: 300;
	font-size: 18px;
	color: black;
	background-color: #fcfcfa;
	font-family: 'Trebuchet MS',sans-serif;
	text-align: left;

}

/* 	白文字 */
.s {
	font-weight: 300;
	font-size: 35px;
	color: #FFFFFF;
	font-family: 'Times New Roman',sans-serif;
	text-align: center;
}

/* 	白文字２ */
.s2 {
	font-weight: 800;
	font-size: 120px;
	color: #FFFFFF;
	font-family: 'Times New Roman',sans-serif;
	text-align: center;
}

/* 	白文字３ */
.s3 {
	font-weight: 50;
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Times New Roman',sans-serif;
	text-align: center;
}

/* 	白文字４ */
.s4 {
	font-weight: 70;
	font-size: 15px;
	color: #FFFFFF;
	font-family: 'Times New Roman',sans-serif;
	text-align: center;
}


/* CONTACT */
.p2 {

	font-weight: 400;
	font-size: 30px;
	color: black;
	background-color: #fcfcfa;
	font-family: font-family: 'Trebuchet MS',sans-serif;
}



.shopImg {
	width: 600px;
}

.shopImgs {
	width: 150px;
	margin: 0 auto;
}

.shopImg2 {
	width: 530px;
	max-width: 100%;
	heigh:auto;
}
.insta {
	width: 40px;
}

.line {
	width: 50px;
}
.card {
	width: 300px;
	margin: 0 auto;
}

/* リンク */
a {color: pink;
  text-decoration: none;
  }
a:hover {
  color: gray;
  font-weight: bold
  }

/* 右寄せ */
.㎎ {
	float: right;
}
/* 中寄せ */
.nk {
	text-align: center;
}



/* 右寄せ２ */
.mg2{
	text-align: right;
}

/* 両端 */
.subject {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.date {
   text-align: right; /* 文章を右寄せする */
}
.titlebar {

}

/* クーポン枠 */
.cou{
  position: relative;
  background: linear-gradient(
    -45deg,
    #fff 25%, #fbc6cc 25%,
    #fbc6cc 50%, #fff 50%,
    #fff 75%, #fbc6cc 75%,
    #fbc6cc
  );
  background-size: 8px 8px;
  padding: 8px;
  border: 10px solid #fbc6cc;
}
.cou_inner{
  background: #fbc6cc;
  padding: .5em;
}
h3{
  margin: 0 0 .5em;
}



/* 二重線 */
.frame {
 border: 1px solid #f0bdc4;	/* 内側の線の太さ・種類・色 */
 margin: 20px 10px; /* 外側の余白 上下・左右 */
 padding: 10px; /* 内側の余白 */
 position: relative;
 z-index: 0;
}
.frame:before {
 border: 2px solid #f0bdc4;	/* 外側の線の太さ・種類・色 */
 content: '';
 display: block;
 position: absolute;
 top: -8px;
 bottom: -8px;
 left: -8px;
 right: -8px;
 z-index: -1;
}






.mybox{
 background: none;
 border: 1px solid #f0bdc4;/* 線の太さ・種類・色 */
 margin: 20px 10px; /* 外側の余白 */
 padding: 10px; /* 内側の余白 */
 position: relative;
 z-index: 0;
}
.mybox:after{
 background: none;
 border: 2px solid #f0bdc4;	/* 線の太さ・種類・色 */
 content: '';

 position: absolute;
 top: -8px;
 left: -8px;
 width: -8px;
 height: -8px;
 z-index: -1;
}



/* 区切り 文字入り */
.hr-text {
	line-height: 1.5em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 3.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	font-weight: 700;
	font-size: 32px;
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}

/* 区切り シュッてやつ*/
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #BAB9B9, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #BAB9B9, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #BAB9B9, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #BAB9B9, #f0f0f0);
}




/* 角枠 */

.mybox {
 border: 5px solid #eee;	/* 線の太さ・種類・色 */
 margin: 10px; /* 外側の余白 */
 padding: 20px; /* 内側の余白 */
 position: relative;
 z-index: 0;
}
.mybox:before {
 border-top: 5px solid #f0b8bf;	/* 一部だけ異なる線の太さ・種類・色 */
 border-left: 5px solid #f0b8bf;	/* 一部だけ異なる線の太さ・種類・色 */
 content: '';
 display: block;
 position: absolute;
 top: -5px;
 left: -5px;
 width: 20px;
 height: 20px;
 z-index: 1;
}


/* インスタ */
