@charset "UTF-8";

.shopImg {
	width: 600px;
}
.shopImg2 {
	width: 600px;
	float: left;
}



/* 二重線 */
h2 {
 border: 1px solid #f0bdc4;	/* 内側の線の太さ・種類・色 */
 margin: 20px 10px; /* 外側の余白 上下・左右 */
 padding: 10px; /* 内側の余白 */
 position: relative;
 z-index: 0;
}
h2:before {
 border: 2px solid #f0bdc4;	/* 外側の線の太さ・種類・色 */
 content: '';
 display: block;
 position: absolute;
 top: -8px;
 bottom: -8px;
 left: -8px;
 right: -8px;
 z-index: -1;
}


.mybox{
 background: none;
 border: 1px solid #f0bdc4;/* 線の太さ・種類・色 */
 margin: 20px 10px; /* 外側の余白 */
 padding: 10px; /* 内側の余白 */
 position: relative;
 z-index: 0;
}
.mybox:after{
 background: none;
 border: 2px solid #f0bdc4;	/* 線の太さ・種類・色 */
 content: '';

 position: absolute;
 top: -8px;
 left: -8px;
 width: -8px;
 height: -8px;
 z-index: -1;
}



/* 区切り */
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}




/* ピン付き枠 */
.mybox2{
 border: 1px solid #ccc;	/* 線の太さ・種類・色 */
 box-shadow:1px 1px 6px 0px #ccc;
 padding: 50px 10px 10px 10px;	/* 内側の余白 上・右・下・左 */
 position: relative;
 z-index: -2
}
.mybox2:before{
 background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));	/* マップピンの色 */
 border-radius: 50%;
 box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.5);
 content: '';
 display: block;
 position: absolute;
 top: 5px;
 left: 50%;
 width: 15px;
 height: 15px;
 z-index: 0;
}
.mybox2:after{
 background-image: linear-gradient(-80deg, transparent 47%, #333333 47%, #333333 52%, transparent 52%, transparent);
 content: '';
 position: absolute;
 top: 15px;
 left: 50%;
 width: 10px;
 height: 13px;
 z-index: -1;
}
